
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-page {
  background-color: #000000;
}

.blue-app-header {
  background-color: #61dafb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(0, 0, 0);
}

.pink-app-header {
  background-color: #ff009d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.purple-app-header {
  background-color: #A34FDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blue-app-header {
  background-color: #405BFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.yellow-app-header {
  background-color: #840000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.qr-wrapper {
  display: inline-block;
  border-radius: 40px;
  border: 5px solid #000000;
  padding: 20px;
}

.container-qr {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the QR code */
  align-items: center;     /* Vertically centers the QR code */
  margin-top: 20px;
  margin-bottom: 20px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
